<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div>
    <h1>Search product</h1>
    <form method="POST" action="#" th:action="@{/products/search}">
        <input type="text" th:name="title" th:value="${title}" placeholder="Title"/>
        <input type="submit" value="Submit">

    </form>
</div>


<h1>All products</h1>

<h3 th:if="${productList.size() == 0}">Products not found</h3>

<table>
    <tbody>
    <th:block th:each="product : ${productList}">
        <tr>
            <th>
                <img th:src="@{/images/{imageId}(imageId = ${product.getPreviewImageID()})}" alt="Product's Page">
            </th>
            <th th:text="${product.title}"></th>
            <th th:text="${product.price}"></th>
            <th><a th:href="@{/products(productId = ${product.id})}">Product details</a></th>
            <th>
                <form method="POST" action="#" th:action="@{/products/update}">
                    <input type="hidden" name="productId" th:value="${product.id}">
                    <button type="submit">Update</button>
                </form>
            </th>
            <th>
                <!-- Add "delete" button/link -->
                <form method="POST" action="#" th:action="@{/products/remove}">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <button type="submit"> Delete</button>

                </form>
                </div>
            </th>
        </tr>
    </th:block>
    </tbody>
</table>
<br>
<a th:href="@{/products/new}">Create new product</a>

</body>
</html>